    body {
    max-width: 1920px;
    min-height: 100vh;
    display: grid;
    place-items: center;
    padding: 2rem;
    font-family: var(--font-family);
    color: var(--dark-color);
    background: var(--bg-gradient);
  }
  .overlay {
    width: 100%;
    max-width: 1140px;
    max-height: 640px;
    padding: 8rem 6rem;
    display: flex;
    align-items: center;
    background: rgba(255, 255, 255, 0.375);
    box-shadow: 0 0.75rem 2rem 0 rgba(0, 0, 0, 0.1);
    border-radius: 2rem;
    border: 1px solid rgba(255, 255, 255, 0.125);
  }
  
  
  
.pokedexContainer {
    padding-top: 20px;
    padding-left: 50px;
    padding-right: 50px;
}
.cardMedia {
    
   margin: auto;
}
.cardContent {
    
    text-align: center;
}
.searchContainer {
    display: flex;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 50px;
    margin-bottom: 50px;
}
.searchIcon {
    align-self: flex-end;
    margin-bottom: -7px;
}
.searchInput {
    width: 200px;
    margin: 5px;
}